# PHP
# Test and package your PHP project.
# Add steps that run tests, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/php

trigger:
  branches:
    include:
      - master
    exclude:
      - staging

variables:
- group: testVariables

pool:
  vmImage: 'Ubuntu-16.04'
  
steps:
# FTP Upload
- task: FtpUpload@1
  inputs:
    credentialsOption: inputs
    #serverEndpoint: # Required when credentialsOption == ServiceEndpoint
    serverUrl: $(AWS_FTP_SERVER)
    username: $(AWS_USER)
    password: $(AWS_PASS)
    rootDirectory: $(Build.SourcesDirectory)
    filePatterns: '**' 
    remoteDirectory: $(FTP_FOLDER)
    clean: false 
    cleanContents: false
    overwrite: true 
    preservePaths: true 
    trustSSL: true